@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: 0;
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
.content{
    display: flex;
}
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width:230px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fff;
    padding: 25px 20px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 0px 4px;
    transition: all 0.6s ease;
    overflow: hidden;
    z-index: 99;
}
.sidebar-p{ 
    display: flex;
    flex-direction: column;
    gap:30px;  
}
.sidebar-header{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
}
.nav-dachboard-Button{
    display: none !important;
}
.sidebar-header .logo{
    width: 150px;
}
.small-logo{
    width: 30px !important;
    display: none;

}
.sidebar-header label{
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    background-color: #fff;
    padding: 8px 8px 8px 8px;
    text-align: left;
    transition: all 0.6s ease;
}
.sidebar-header label img{
    width: 20px;
    height: 20px;
}
.sidebar-header label input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #667085;
    font-size: 16px;
    font-weight: 600;
    height: 30px;
}
.sidebar-header label:hover{
    box-shadow: 0 0 5px #bca6eb;
}
.sidebar-links ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    gap: 16px;
}
.sidebar-links ul li a{
    color: #667085;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.sidebar-links ul li a:hover{
    color: #6941C6;
}
.dropdown-nav-dach{
    display: flex;
    flex-direction: column;
}
.dropdown-nav-dach .dropbtn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: #667085;
    font-weight: 700;
    gap: 8px;
    cursor: pointer;
}
.dropdown-content{
    display: none;
    flex-direction: column;
    gap: 15px;
    padding: 25px;
    margin-left: 25px;
    transition: all 0.6s ease;
}

.user-profile{
    margin-bottom:50px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    border-top: 2px solid #EAECF0;
    padding-top:15px;
    cursor: pointer;
    
}
.user-profile img{
    width: 40px;
    height: 40px;
}
.profilelog-out img{
    width: 35px;
    height: 35px;
}
.user-detail h3{
    font-size:16px;
    font-weight: 600;
    color: #344054;
}
.main-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 80px;
    margin-left:270px;
    padding: 20px;
    margin-top: 20px;
}
.content-hdr{
    display: flex;
    justify-content: space-between;
    width:100%;
    gap:4px;
}
.content-hdr-r{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#344054 ;
    gap:10px;
}
.content-hdr-r img{
    width:20px;
    height:20px;
}
.content-hdr button {
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    display: flex;
    border-radius: 8px;
    border: 1px solid #D6BBFB;
    color: #6941C6 !important;
    font-weight: 600 !important;
    gap:5px;
    cursor: pointer;

}
.support-needs{
    border-radius: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.support-needs .title-n{
    border-radius: 12px 12px 0px 0px ;
    padding: 20px;
    background-color:#F9FAFB;
    color: #475467;
}
.support-needs ul{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left:30px;
    padding:30px;
    color: #101828;
    font-weight:600;
}
.support-needs ol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 6px;
    margin-left:30px;
    padding:30px;
    color: #101828;
    font-weight:600;
}
.Filters{
    display: flex;
    flex-wrap: nowrap;

    width: 100%;
    justify-content: space-between;
    gap: 10px;
    
}
.search-filter{
    display: flex;
    gap:10px;
   
}
.search-filter-t{
    display: flex;
    gap:10px;
    justify-content: space-between;
    align-items: center;
}

.label{
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 6px;
    border: 1px solid #D0D5DD;
    background-color: #fff;
    padding: 8px 8px 8px 8px;
    text-align: left;
}
.button-filter{
    display: flex;
}
.button-filter div{
    padding: 10px;
    border: 1px solid #D0D5DD;
    color: #344054;
    cursor: pointer;
}
.btn-f-v{
    border-radius:8px  0px 0px 8px;
    border-right: none !important;
    
}
.btn-f-a{
    border-radius:0px  8px 8px 0px;
}
.filterbtn-click{
    color: #182230 !important;
    font-weight: 600;
    background-color: #F9FAFB;
}
.label img{
    width: 20px;
    height: 20px;
}
.label input{
    background-color: transparent;
    outline: none;
    border: none;
    color: #667085;
    font-size: 16px;
    font-weight: 600;
    height: 24px;
}
.content-hdr-r button{
    padding: 10px;
    align-items: center;
    justify-content: center;
    background: none;
    display: flex;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    gap:5px;
    color: #344054;
    font-weight: 600;
    cursor: pointer;
}
.Formulate{
    margin-top:30px;
    width: 100%;
    border-radius: 12px;
    gap:0px;
}

.Formulate table{
    width: 100%;
    text-align: start;
    border-collapse: collapse;
    border-radius: 8px; 
    overflow: hidden;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    color: #101828;
    
}

.Formulate table tbody{
    width: 100%;
}
.Formulate table tr  {
    border: 2px solid #EAECF0;
    box-shadow: rgba(233, 239, 245, 0.2) 0px 8px 24px;
    border-radius: 12px;
    width: 100% ;
}
.Formulate table tr th{
    background-color: #F9FAFB;
    text-align: start;
    padding: 12px;
}

.Formulate table tr td{
    padding: 10px;
    height:80px;
}
.Formulate table .checkbox{
    width: 20px;
    height: 20px;
}
 input[type="checkbox"] {
    position: relative;
    width: 22px;
    height: 22px;
    appearance: none;
    background-color: white;
    border: 1px solid #D0D5DD;
    border-radius:5px;
    cursor: pointer;
}

input[type="checkbox"]:checked {
    background-color: #6941C6;
    border: none;
}
input[type="checkbox"]:checked::before {
    content: "✔"; 
    color: white;
    position: absolute;
    top:2px;
    left: 6px;
}
.Formulate table tr td div{
     display: flex;
     align-items: center;
     gap: 8px;
}
.Formulate table .submitted{
    gap: 1px !important;
    width: fit-content;
    padding: 3px;
    flex-wrap: nowrap;
    font-size: 12px;
    font-weight: 600;
    border: 1px solid #D0D5DD;
    border-radius:6px;
    color:#344054;
    box-shadow: rgba(233, 239, 245, 0.2) 0px 8px 24px;
    cursor: pointer;
}
.Formulate table .submitted:hover{
    border: 1px solid #6941C6;
    color: #6941C6;
}
.Formulate progress {
    -webkit-appearance: none;
    appearance: none;
    width:13vw;
    height:8px;
    border: none; 
    border-radius: 8px;
    background-color: #EAECF0; 
    overflow: hidden;
}
.Formulate progress::-webkit-progress-bar {
    background-color: #f3f3f3;
    border-radius: 8px;
}

.Formulate progress::-webkit-progress-value {
    background-color: #7F56D9; 
    border-radius: 8px; 
}

.Formulate progress::-moz-progress-bar {
    background-color: #7F56D9;
    border-radius: 8px; 
}

.uploadfileDach{
    cursor: pointer;
 
    padding: 30px;
    height: 100px;
    border:1px solid #EAECF0;
    border-radius: 12px;
    margin-top:40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:12px;
    color: #475467;
}
.uploadfileU{
    
    margin-top: 25px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:10px;
    border:1px solid #EAECF0;
    border-radius: 12px;
    color:#475467;
    font-weight:600;
}
.Hidden-name-U{
    display: none;
}
.uploadfileDach .border-upload-icon{
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 15px;
    border-radius:8px;
    border: 2px solid #EAECF0;
}
.border-upload-icon img{
    width: 24px;
    height: 24px;
}
.Formulate .Biggest-order{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:20px;
    gap:10px;
    border: 1px solid #EAECF0;
    border-bottom: none !important;
}
.brder-rd{
    border-radius: 8px 8px 0px 0px;
}

.Biggest-order  div{
    display: flex;
}
.Biggest-order .Biggest{
    flex-direction: column;
}
.Importerenbuttons{
    display: flex;
    gap:10px;
}
.Importerenbuttons div{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height:30px;
    gap: 5px;
    border-radius: 8px;
    cursor: pointer;
}
.Importerenbuttons div:hover{
    opacity: 0.8;
}
.Importerenbuttons div img{
    width:24px;
    height:24px;
}
.Importerenbuttons  .Importeren{
    border: 1px solid #D0D5DD;
}
.Importerenbuttons .Bestand{
    background-color:#7F56D9;
    color: #FFFFFF;
}
#Ziealles{
    border-radius: 8px 0px 0px 8px;
}
#Gedeelde{
    border-radius: 0px 8px 8px 0px;
}
.file-Inventory{
    display: flex;
  
}
.file-Inventory .info{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 14px;
    align-items:start !important;
    
}
.icons-action{
    display: flex;
    
    align-items: center;
    color: #475467;
}
.icons-action i{
    font-size:16px;
    cursor:pointer;

}
.icons-action i:hover{
    color:#7F56D9;
}

.pagination-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 99%;
    margin:10px;
}
.pagination {
    display: flex;
    list-style-type: none;
    gap: 15px;
    padding: 0;
}
.pagination li {
    margin: 0 5px;
}
.pagination a {
    text-decoration: none;
    color: #475467;
}
.pagination .dots{
    color:#475467;
}
.btn-pagination{
    display: flex;
    justify-items: center;
    align-items: center;
    border: 1px solid #EAECF0 ;
    border-radius: 8px;
    padding:10px;
    font-size:14px;
    gap:8px;
    color: #98A2B3;
    cursor: pointer;
    font-weight:600;
}
.btn-pagination:hover{
    color:#6941C6;
    border: 1px solid #D6BBFB;
}
.font-size-14{
    font-size: 10px !important;
}
.button-filter div{
    justify-content: center;
    align-items: center;
}

.form-inl{
    border: 1px solid #EAECF0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:30px;
}
.form-inl .flex{
    width: 90%;
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.form-inl .input-c{
        display: flex;
        flex-direction: column;
        gap:5px;
        width:47%;
        flex-wrap: wrap;
}
.form-inl label{
    font-size:14px;
    color:#344054;
    font-weight: 600;
}
.input-c span{
    font-size:12px;
    color: #475467;
}
.input-c input{
    padding:10px;
    font-size: 14px;
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    outline: none;
    color: #667085;
}
.input-c input:focus{
    outline: 1px solid #D6BBFB;
}

.input-wrapper-t {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    width: 98% !important;

}

.input-wrapper-t .icon {
    margin-right: 10px;
    color: #666;
    font-size: 18px;
    color: #667085;
}

.input-wrapper-t input {
    width: 100%;
    border: none !important;
    outline: none  !important;
    flex: 1;
    padding: 0px;
}                                           
.input-100{
    width: 100% !important;
}
.img-profil-t{
    width:52px;
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items: center ;
    border-radius: 50px;
    border: 1px solid #D0D5DD;
    margin-top: 40px;
    overflow: hidden;
}
.img-profil-t img{
    width:50px;
    height:50px;
}
.checkbox-c-f input[type="checkbox"] {
    width:20px;
    height: 20px;
    border-radius:50px;
}
.checkbox-c-f{
    display: flex;
    gap:10px;
    align-items: center;
    font-size:14px;
    color: #475467;
}
.checkbox-c-f input[type="checkbox"]:checked::before {
    content: "\2022"; 
    color: white;
    position: absolute;
    top:-9px;
    left:4px;
    font-size: 35px;
}
.checkbox-c-f input{
    width:100px;
}
.form-inl button{
    background:none;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 12px;
    color: #98A2B3;
    font-weight:700;
    font-size: 14px;
    background-color: #EAECF0;
}
.Annuleer{
    border: 1px solid #D0D5DD;
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    color: #344054;
    font-weight:700;
}
.list-items{
    display: flex;
    background-color: #F9FAFB;
    padding: 12px;
    color: #667085;
    border-radius: 8px;
    justify-content: space-between;
    height:50px;
}

.list-items div{
    display: flex;
    justify-content: center;
    align-items: center;
    width:25%;
    font-weight:600;
    cursor: pointer;
}
.list-items div span{
    border: 1px solid #EAECF0;
    border-radius: 50px;
    padding:2px;
    padding-left:8px;
    padding-right:8px;
    margin-left:4px;
}
.list-items .item-active{
    border-radius:8px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 12px;
    color: #344054;
}
.content-Dach{
    margin-top:25px;
}
.hidden-div{
    display: none;
}
.content-Dach .active-content-dach {
    display: block;
}
.content-Dach {
    margin: 15px;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    padding:15px;
    margin-top:50px
  
}
.form-Mijn{
    display: flex;
    flex-direction: column;
    gap:35px;
   
}
.Naam-form-Mijn{
    margin-top:25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.email-form-Mijn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
}
.w-65{
    width: 65%;
}
.form-img-profil{
    display: flex;
    gap:10px;
    justify-content: space-between;
}
.form-img-profil .img-prf{
    width: 50px;
    height: 50px;
}

.color-700{
    color: #344054;
    font-weight: 700;
}
.color-66{
    color: #667085;
}
.form-Mijn-buttons{
    display: flex;
    justify-content: end;
    gap: 10px;

}
.Savebtn{
    border-radius: 8px;
    padding: 12px;
    font-size: 14px;
    background-color: #6941C6;
    font-weight:700;
    color: white;
}
.form-Mijn select{
    background-color:#F9FAFB;
    padding:10px;
    border-radius: 8px;
    border: 1px solid #EAECF0;
}

.password-container-h {
    position: relative;
    display: flex;
    align-items: center;
    width: 50%;

  }
  
  .password-container-h input {
    width: 100%;
    padding: 10px 40px 10px 15px; 
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: none;
    outline: none;
  }
  
  .password-container-h input:focus {
    border-color: #a0a0a0;
  }
  
  .password-container-h .toggle-password {
    position: absolute;
    right: 15px;
    cursor: pointer;
    font-size: 18px;
    color: #a0a0a0;
  }
.tableZorgteam{
    border-collapse: collapse;
    width: 100%;
}

.tableZorgteam tr th{
    text-align: start;
    background-color: #F9FAFB;
    padding:15px;
    font-weight:500;
}
.tableZorgteam tr td{   
    padding: 20px;
    justify-content: center;
}
.tableZorgteam .status-t{
    display: flex;
    gap:5px;
    width:fit-content;
    align-items: center;
    border: 1px solid #F8DBAE;
    color: #C75B3F;
    padding:4px;
    font-size:12px;
    border-radius:20px;
    background-color: #FEF7EF;
    font-weight: 600;

}
.tableZorgteam .Mobiel-t{
    color: #667085;
}
.status-t .dot {
    height: 7px;
    width: 7px;
    background-color:#EE6821;
    border-radius: 50%;
    display: inline-block;
}
.status-t-g{
    display: flex;
    gap:5px;
    width:fit-content;
    align-items: center;
    border: 1px solid rgb(170,238,198);
    color: rgb(48,144,105);
    padding:4px;
    font-size:12px;
    border-radius:20px;
    background-color: rgb(237,252,243);
    font-weight: 600;
}
.status-t-g .dot{
    height: 7px;
    width: 7px;
    background-color:rgb(48,144,105);
    border-radius: 50%;
    display: inline-block;
}
.tableZorgteam .Zorgteam-t{
    justify-content: center;
    font-size:14px;
    border-radius: 8px;
    padding:4px;
    font-weight: 600;
}
.tableZorgteam .Dokter{
    background-color: #F9F4FE;
    border: 1px solid #E8D7FF;  
    color: #7B57CD;
}
.tableZorgteam .CLB{
    background-color: #EFF9FE;
    border: 1px solid #B3DDFE;  
    color: #2467D7;
}
.tableZorgteam .Grootouder{
    background-color: #EFF5FF;
    border: 1px solid rgb(199,215,254);  
    color: #3438CC;
}
.tableZorgteam .Psycholoog{
    background-color: rgb(248,249,252);
    border: 1px solid rgb(213,216,234);  
    color: rgb(114,120,157);
}
.request{

    border-radius: 8px;
    border: 1px solid #EAECF0;
}
.req-profil{
    padding:25px;
    display: flex;
    align-items: center;
    gap:8px;
    color:#101828;
}
.req-profil .name-re{
    font-weight:600;
    font-size: 18px;
}
.req-profil .id-re{
    color: #475467;
    font-size: 14px;
    margin-top:3px;
}
.img-profil-re{
    width:50px;
    height:50px;
    border-radius:50px;
    overflow: hidden;

}
.img-profil-re img{
    width: 55px;
    height: 55px;
}
.request .Zie-meer{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    border-top: 1px solid #EAECF0;
}
.buttonZiemeer{
    color:#6941C6;
    cursor: pointer;
    font-weight: 600;
}
.buttonZiemeer:hover{
    opacity: .8;
}
.timeline-t{
    opacity: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:5px;
    height: 490px;
    overflow: hidden;
    transition: height 1s ease;
}
.timeline-t-item{
    display: flex;
    gap: 20px;
}
.timeline-circle-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:6px;
}
.circle-t{
    width:50px;
    height:50px;
    border-radius: 50%;
    border: 1px solid #EAECF0;
    position: relative;
    overflow: hidden;
}
.circle-t::before {
    content: '';
    width:15px;
    height:15px;
    border-radius:50px;
    font-size: 30px;
    background-color: #D0D5DD;
    position: absolute;
    top:17px;
    left:17px;
}
.timeline-line-t{
    width:2px;
    height:50px;
    background-color: #EAECF0;
}
.timeline-date-t{
    display: flex;
    flex-direction: column;
 
    gap:5px;
}
.timeline-title{
    color: #344054;
    font-weight: 600;
    font-size:18px;
}
.timeline-date{
    color: #475467;

}
.timeline-date-w-open{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.timeline-btn{
    margin-top: 15px;
}
.timeline-btn-open{
    border: 1px solid #7F56D9;
    padding:5px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
    border-radius: 8px;
    font-weight: 600;
    color: #6941C6;
    cursor:pointer;
}
.timeline-btn-open:hover{
    opacity: 0.8;
}
.timeline-btn-open .fa-chevron-right{
    font-size: 10px;
}
.timeline-item-active div{
    background-color: #7F56D9;
}
.timeline-item-active .circle-t::before {
    content: "✔";
    position: absolute;
    width: 16px;
    height: 16px;
    font-size:30px;
    color: #fff; 
    border-radius: 50%;
    left:16px;
    top:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline-item-active .circle-t::before {
    background-color: #7F56D9;
}

.hidden-timeline{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition:height 0.3s ease;
}





















@media screen and (max-width: 992px) {
    .main-content{
        margin-left:60px;
        width: 100%;
    }
    .sidebar{
        width:28px;
       
    }
    .sidebar:hover .sidebar-header .logo{
        display: block;
    }
    .sidebar-links ul li a{
        gap:300px;
    }
    .sidebar-links .dropdown-nav-dach .dropbtn{
        gap: 300px;
    }
    .sidebar:hover .sidebar-links .dropdown-nav-dach .dropbtn{
        gap: 10px;
    }
    .sidebar:hover  .sidebar-links ul li a{
        gap:10px;
    }
    .sidebar:hover{
        width:220px;
        z-index: 99;
    }
    .sidebar-header label{
        display: none;
    }
    .sidebar:hover .label{
        display: flex;
        transition: all 0.6s ease;
    }
    .sidebar:hover .user-detail{
        display: block;
    }
    .user-detail{
        display: none;
    }
    .sidebar:hover .profilelog-out{
        display: block;
    }
    .profilelog-out{
        display: none;
    }
    .Formulate progress{
        width:10vw;
    }
    .Formulate table{
        font-size: 14px;
    }
    .Formulate table .submitted{
        font-size:10px;
    }
    .tableZorgteam tr td{
        font-size: 12px;
    }
}
@media (max-width: 768px) {
    .content{
        box-sizing: border-box;
        width:100%;
        flex-direction: column;
        overflow-x: hidden;
    }
    .button-filter{
        width: 100%;
        order: 1;
    }
    .search-filter{
        width: 100%;
        justify-content: space-between;
    }
    
    .main-content{
        width:90%;
        margin-left:15px;
        margin-top:100px;
    }
    .sidbar-header-cont{
        justify-content: space-between;
        align-items: center;
        display: flex; 
        width:100%; 
    }
    .sidebar{
        position:absolute;
        left:0px;
        width:100%;
        height:25px;
        z-index: 99;
        overflow-x: hidden;            
    }

    .sidebar:hover{
        width:100%;
    }
    .user-profile{
        justify-content: space-between;
        text-align: center;
        padding-left:30px;
        padding-right:30px;
        margin-bottom: 0px;
    }
    .sidebar-links{
        margin-top: 20px ;
    }
    .nav-dachboard-Button{
        display: block !important;
        cursor: pointer;
    }
    .open-nav-dachboard{
        width: 100%;
        height:100vh;
    }
    .profilelog-out{
        display: block;
    }
    .user-detail{
        display: block;
    }
    .sidebar-links ul li a{
        gap:10px;
    }
    .sidebar-header label{
        display: flex;
    }
    .Formulate progress {
        display: none;
    }
    .Formulate table .checkbox{
        width: 16px;
        height: 16px;
    }
    .Formulate table .submitted{
        font-size:10px !important;
    }
    .Formulate table .submitted img{
        display: none;
    }
    .sidebar-header {
        width:90%;
    }
    aside {
        position: relative;
    }
    .content-hdr{
        gap: 12px;
        flex-direction: column;
    }
    .sidebar-links .dropdown-nav-dach .dropbtn{
        gap:5px;
    }
    .dropdown-nav-dach .dropbtn{
        justify-content: start;
    }
    .Importerenbuttons .Importeren{
        font-size:16px;
    }
    .Filters{
        flex-wrap: wrap;
    }
    .search-filter-t{
        margin-top:10px;
        width: 100%;
    }
    .file-Inventory img{
        display: none;
    }
    .input-c{
        width: 100% !important;
    }
    .w-65{
        width: 100%;
        flex-direction: column;
    }
    .form-Mijn .input-c{
        width: 100% !important;
    }
    .con-serarch{
        width: 100%;
    }
    .list-items{
        font-size: 10px;
        padding:8px;
        gap:3px;

    }
    .form-img-profil{
        flex-direction: column;
    }
    .tableZorgteam tr td{

        padding:10px;
        margin-top:15px;
    }
    .password-container-h{
        width: 100%;
    }
    .Alternatief{
        width: 100% !important;
        margin-bottom: 20px;
    }
    .tableZorgteam{
        width: 100%;
        display: block;
        overflow-x: auto; 
        white-space: nowrap;
        font-size:9px;
    }
    .tableZorgteam tr td{
        width: fit-content;
    }
    .tableZorgteam .status-t{
        font-size: 7px;
    }
    .tableZorgteam .status-t-g{
        font-size: 7px;
    }
   .tableZorgteam .Zorgteam-t{
    font-size:7px;
   }
   .voeg-toe{
    font-size: 10px;
    width:90px;
    text-align: center;
   }
}